<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Characters</title>
  </head>
  <body>
    <div id="app">
      <h1>The Simpsons</h1>
      <div class="container" v-if="characters.length">
        <div
          class="character"
          v-for="character in characters"
          :key="character.name"
        >
          <div class="description">
            <h2>{{ character.name }}</h2>
            <small v-if="character.isParent">Parent</small>
            <small v-else>Child</small>
          </div>

          <img :src="character.image" :alt="character.name" />
        </div>
      </div>
      <div v-else>
        <h2>No characters available</h2>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const app = Vue.createApp(
        {
          data: () => ({
            characters: [
              {
                name: "Homer Simpson",
                image:
                  "https://upload.wikimedia.org/wikipedia/en/0/02/Homer_Simpson_2006.png",
                isParent: true,
              },
              {
                name: "Marge Simpson",
                image:
                  "https://upload.wikimedia.org/wikipedia/en/0/0b/Marge_Simpson.png",
                isParent: true,
              },
              {
                name: "Bart Simpson",
                image:
                  "https://upload.wikimedia.org/wikipedia/en/a/aa/Bart_Simpson_200px.png",
                isParent: false,
              },
              {
                name: "Lisa Simpson",
                image:
                  "https://upload.wikimedia.org/wikipedia/en/thumb/e/ec/Lisa_Simpson.png/220px-Lisa_Simpson.png",
                isParent: false,
              },
              {
                name: "Maggie Simpson",
                image:
                  "https://upload.wikimedia.org/wikipedia/en/9/9d/Maggie_Simpson.png",
                isParent: false,
              },
            ],
          }),
        }
        // mounted() {
        //   fetch("https://rickandmortyapi.com/api/character")
        //     .then((response) => response.json())
        //     .then((data) => {
        //       this.characters = data.results;
        //     });
        // },
      );
      app.mount("#app");
    </script>
    <style>
      .container {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
      }

      .character {
        border: 0.5px solid grey;
        display: flex;
        align-items: center;
      }

      .character h2 {
        margin-bottom: 0;
      }

      .character .description {
        padding: 8px;
      }
    </style>
  </body>
</html>
